.main {
  background-color: rgb(109, 106, 106);
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
.container {
  background-color: white;
  display: flex;
  width: 80vw;
  padding-left: 0.66vw;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 0.66vw;
  transform: translate(8vw, 50px);
  margin-right: 5.2vw;
  height: 35px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgb(162, 155, 155);
}

.dropDown {
  border-radius: 10px;
  border: none;
  width: 2vw;
  height: 30px;
  display: inline-block;
  margin-right: 0.66vw;
  background-image: url("/icons/dropdownICON.png");
  background-position: center center;
  background-size: cover;
}

.dropDown:hover {
  cursor: pointer;
}

.data-source-selector {
  padding-left: 0.66vw;
  padding-right: 0.66vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 30px;
  align-content: center;
  border-left: 1px solid hsl(0, 1%, 68%);
  display: inline-block;
  font-size: 1vw;
  color: rgb(87, 87, 87);
  width: 3.33vw;
}

.arrowDropDown {
  height: 25px;
  width: 1.66vw;
  margin-top: 3px;
  display: inline-block;
  border: none;
  border-radius: 15px;
  padding-right: 1.66vw;
  background-image: url("/icons/arrowDropDown.png");
  background-position: center center;
  background-size: cover;
}

.arrowDropDown:hover {
  cursor: pointer;
}

.vertical-hr {
  width: 0.01px;
  height: 30px;
  border-left: 1px solid hsl(0, 1%, 68%);
  background-color: rgb(227, 227, 224);
  display: inline-block;
  margin-left: 10px;
}

.search-icon {
  margin: 8px;
  display: inline-block;
  color: hsl(0, 0%, 56%);
  font-weight: bolder;
  width: 1.4vw;
  font-size: 1vw;
}

.search-bar-and-suggestions {
  display: inline-block;
}

.flexDiv {
  display: flex;
  flex-direction: column;
}

.suggestions-box {
  display: inline-block;
  background-color: white;
  width: fit-content;
  border-radius: 20px 20px 8px 8px;
  margin-top: 10px;
  padding-top: 20px;
  border-bottom: 20px solid rgb(199, 198, 198);
}

.clear-button {
  margin-left: 0.66vw;
  height: 30px;
  width: 2vw;
  display: inline-block;
  margin-right: 0.66vw;
  background-image: url("/icons/clearButton.png");
  background-position: center center;
  background-size: cover;
  border: none;
  border-radius: 15px;
}

.clear-button:hover {
  cursor: pointer;
}

.submit-button {
  height: 30px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  width: 5.33vw;
  margin-right: 0.66vw;
}

.submit-button:hover {
  cursor: pointer;
}

.search-bar {
  display: inline-block;
  height: 30px;
  width: 60vw;
  background-color: white;
  border: none;
  align-content: center;
  resize: none;
  color: hsl(0, 1%, 37%);
}

.search-bar:focus {
  outline: none;
  border: none;
}

.empty-suggestions-msg {
  width: 33.3vw;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
}

.rejection-msg {
  width: 33.3vw;
  justify-content: center;
  padding-bottom: 20px;
  text-align: center;
}
